<h2>Account Login</h2>
<form method="post" action="/users/login">
	<div class="form-group">
		<label>Username</label>
		<input type="text" name="username" class="form-control" placeholder="username" id="username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" name="password" class="form-control" placeholder="password" id="password">
	</div>

	<button type="submit" class="btn btn-default"> Submit </button>
</form>