<h2>Account Register</h2>


<form method="post" action="/users/register">
	<div class="form-group">
		<label>Name</label>
		<input type="text" name="name" class="form-control" placeholder="name" id="name">
	</div>
	<div class="form-group">
		<label>Username</label>
		<input type="text" name="username" class="form-control" placeholder="username" id="username">
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="email" name="email" class="form-control" placeholder="email" id="email">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" name="password" class="form-control" placeholder="password" id="password">
	</div>
	<div class="form-group">
		<label>Confirm Password</label>
		<input type="password" name="confirmpassword" class="form-control" placeholder="password" id="password">
	</div>

	<button type="submit" class="btn btn-default"> Register </button>
</form>